In [1]:
import pandas as pd
import cv2
import matplotlib.pyplot as plt
import numpy as np
from utils import rle_encode, rle_decode, rle_to_string

%matplotlib inline

/opt/conda/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
def test_image(df, image_id, plot=False):
    image = cv2.imread('stage1_test/' + image_id + '/images/' + image_id + '.png')
    shape = image.shape[:2]
    for rle in df[df.ImageId == image_id].EncodedPixels:
        try:
            decoded_result = rle_decode(rle, shape)
            plt.figure()
            plt.imshow(image)
            plt.figure()
            plt.imshow(decoded_result)
        except Exception as e:
            print(e)
            print(image_id)
            print('---')

In [5]:
df = pd.read_csv('submission_v2_9th_try.csv')
df.head()

,ImageId,EncodedPixels
0,0114f484a16c152baa2d82fdd43740880a762c93f436c8...,53873 1
1,0114f484a16c152baa2d82fdd43740880a762c93f436c8...,35224 1
2,0a849e0eb15faa8a6d7329c3dd66aabe9a294cccb52ed3...,42823 1
3,0f1f896d9ae5a04752d3239c690402c022db4d72c0d2c0...,200891 2 201403 2 201916 1 226492 1
4,0f1f896d9ae5a04752d3239c690402c022db4d72c0d2c0...,269624 4 269688 4 270136 4 270200 4 270648 4 2...

In [6]:
for image_id in df.ImageId.unique()[50:51]:
    test_image(df, image_id)